.postData-likeAndComment-top {
  display: flex;
  /* border:1px solid red; */
  padding-top: 1rem;
  cursor: pointer;
  padding-bottom: 0.9rem;
}
.postData-likeAndComment-top div:nth-child(1) {
  flex: 0.1;
}
.postData-likeAndComment-top div:nth-child(2) {
  flex: 0.85;
}
.postData-likeAndComment-top i {
  font-size: 1.2rem;
}
.postData-likeAndComment-top span {
  padding-left: 0.5rem;
}
/*  */
.comments-list {
  padding: 0.71rem 0rem 0rem 0rem;
  border-top: 2.2px solid #3a3b3c;
}
.comments-list .comments {
  display: flex;
  padding-bottom: 0.6rem;
}
.comments-list .comment h4 {
  padding-bottom: 0.3rem;
}
.comments-list .comment {
  margin-left: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #3a3b3c;
  border-radius: 0.5rem;
}

.add-comment {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.add-comment input {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3a3b3c;
  border-radius: 0.5rem;
  border: none;
  color: white;
}
