@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans+TC:wght@300&display=swap");
/* individual post */
.inidividual-post-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  position: fixed;
  top: 57%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 2 !important;
}
.individual-text-post {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  /* padding: 1rem; */
  background-color: #242526;
  border-radius: 1rem;
}

.individual-image-post-left {
  width: 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: #3a3b3c5c;
  backdrop-filter: blur(25px);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0rem;
}
.text-post-left,
.individual-image-post-left {
  background-color: #242526;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23353b3a' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230a000a'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.individual-image-post-left p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
}
.individual-image-post-left img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0px;
  display: block;
  margin: auto auto;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  max-height: 75vh;
  overflow-y: scroll;
  object-fit: cover !important;
}

/* left commetn bar */
.individual-post-right {
  padding: 0rem 1rem 1rem 2rem;
  width: 50%;
  position: relative;
  border-left: 1px solid #2c2d2e;
}

/* drop down */

.comments-list,
.individual-post-comment .comments-list,
.postData-top,
.individual-post-right i {
  position: relative;
}
.comments-list ul,
.individual-post-comment .comments-list ul,
.postData-top ul,
.individual-post-right ul {
  position: absolute;
  right: 0%;
  top: 8%;
  background-color: #3a3b3c;
  border-radius: 0.3rem;
  display: none;
}
.comments-list ul {
  right: 39%;
  top: 8%;
}
.comments-list ul li,
.individual-post-comment .comments-list ul li,
.postData-top ul li,
.individual-post-right ul li {
  padding: 0.3rem 2rem;
  border-radius: 0.3rem;
  display: flex;
  border-bottom: 1px solid #18191a;
  border-left: 1px solid #3a3b3c;
  cursor: pointer;
}
.comments-list ul li:hover,
.individual-post-comment .comments-list ul li:hover,
.postData-top ul li:hover,
.individual-post-right ul li:hover {
  border-left: 1px solid #2d88ff;
  display: block;
}
/*  */
.individual-post-right i:hover + ul {
  display: block;
}
.individual-post-comment .comments-list i:hover + ul {
  display: block;
}
.postData-top i:hover + ul {
  display: block;
}
.comments-list,
i:hover + ul {
  display: block;
}
/*  */
.individual-post-right ul:hover {
  display: block;
}
.individual-post-comment .comments-list ul:hover {
  display: block;
}
.postData-top ul:hover {
  display: block;
}
.comments-list ul:hover {
  display: block;
}
/*  */

.individual-post-right-top {
  /* padding: 0rem 1rem 1rem 1rem; */
  padding-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 12rem; */
  border-bottom: 1px solid;
}
.individual-post-right-top .avatar {
  display: flex;
  align-items: center;
}
.individual-post-right-top .avatar h3 {
  margin-left: 0.5rem;
}
.individual-post-right-top .avatar span {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
}

.individual-post-right div:nth-child(2) {
  border-bottom: none;
}

/* individual coment */

.individual-comments {
  height: 10rem;
  overflow-y: scroll;
}

.inidividual-post-container  h4 {
  color: #2a6abe;
  padding: 0.2rem 0rem;
}

.individual-post-comment .comments-list {
  border-top: none;
}
.individual-post-comment i {
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
}

/* scroll */

.individual-comments::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.individual-comments::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.individual-comments::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

.individual-post-like {
  display: flex;
  align-items: center;
  margin-top: auto !important;
  align-self: flex-end;
  align-items: flex-end;
  padding: 1rem 0rem 0.2rem 0rem;
  border-top: 1px solid #2c2d2e;
  /* position: absolute; */
  bottom: 18%;
  width: 90%;
}
.individual-post-like * {
  font-size: 1.1rem;
}
.individual-post-like span {
  padding-left: 0.5rem;
}
.individual-post-like div:nth-child(1) {
  flex: 0.2;
}
.individual-post-like div:nth-child(2) {
  flex: 0.75;
}
.individual-add-comment {
  border-top: 1px solid #2c2d2e;
  padding-top: 10px;
  bottom: 5%;
  width: 90%;
  vertical-align: bottom;
  height: inherit;
}

/* mobile */

@media screen and (max-width: 970px) {
  .inidividual-post-container {
    height: 200vh;
    position: absolute;
    top: 98%;
  }

  .individual-text-post {
    display: block;
    overflow: scroll;
  }

  .individual-image-post-left p {
    font-size: 1.5rem;
  }
  .individual-text-post {
    width: 90%;
    display: block;
    background-color: #242526;
    border-radius: 1rem;
  }
  .individual-post-right {
    width: 90%;
  }
  .individual-image-post-left {
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 1rem;
    padding: 0rem;
  }
  .individual-image-post-left img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
    padding: 0px;
    display: block;
    margin: auto auto;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    max-height: 75vh;
    overflow-y: scroll;
    object-fit: cover !important;
    overflow: hidden;
    padding-bottom: 0.1rem;
  }

  .text-post-left {
    width: 100%;
    max-width: 100%;
    background-color: #3a3b3c5c;
    text-align: center;
    padding: 2rem 0rem;
    /* height: 10rem; */
  }
}
