
.nav{
    background-color: #242526;
}
.nav_left{
    width: 15%;
    margin-left: 1rem;
}
.nav_right{
    width: 50%;
    justify-content: space-evenly;
}
.nav_right_search{
    display: flex;
    align-items: center;
    width: 60%;
    border-radius: .4rem;
    background-color: #f4f5f8;
    padding: .3rem;
    color:#8890a9;
}
.nav_right_search input{
    background-color: #f4f5f8;
    border:none;
    outline:none;
    width:100%
}
.nav_right_search input::-webkit-input-placeholder{
font-weight:bold;
font-size:1rem
}
.nav_right_search p{
    padding-left: .4rem;
}
.nav_right_avatar{
    display: flex;
align-items: center;
}
.nav_right_avatar p{
   font-weight: bold;
   padding-left: .5rem;
}
.nav_right_avatar .down{
    border-radius: 50%;
    height: 2rem;
    width:2rem;
    position:relative;
    margin-left: .8rem;
    background-color:#3a3b3c
}
.nav_right_avatar .down:hover{
    background-color:#6a6b6da4
}
.nav_right_avatar .down i{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%)
}




